#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nameTitle{
  font-size: 3rem;
  font-weight: 150;
  font-family: roboto;
}

.nameSubtitle{
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 1rem;
}

.avatarContainer{
  align-items: center;
  justify-content: center;
  display: flex;
}